_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
__pycache__/
*.pyc

# Sensitive credentials
.env

# SSH Keys (Double-check these aren't in your web folder)
id_rsa
id_rsa.pub
ssh
ssh.pub

static/comms.txt

.kt