{% unless page.path == 'status.html' or page.path contains 'status_updates/' %}
	{% assign latest = site.status_updates | sort: 'date' | reverse | first %}
	{% if latest %}
		<div class="latest-content">
			{{ latest.content | markdownify }}
			<p class="timestamp" data-timestamp="{{ latest.date | date: '%s' }}">{{ latest.date | date: "%I:%M %p %B %-d, %Y %Z" }}</p>
			<!-- {% if latest.source %}
				<p class="source">via {{ latest.source }} - <a href="{{ latest.url }}">🔗</a></p>
			{% endif %} -->
		</div>
	{% endif %}
{% endunless %}