<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="status-page">
	<div id="container">
		{% include nav.html %}
	  <h1 id="header">{{ page.title }}</h1>
	  <div id="content">
		<div class="profile-header">
		  <img src="/assets/img/aaron_profile.jpeg" alt="Aaron Aiken's profile picture" class="profile-pic">
		  <div class="account-info">
			<span class="account-name">aaronaiken</span>
		  </div>
		</div>
		<div class="latest-update-container">
		  {% assign latest = site.status_updates | sort: 'date' | reverse | first %}
		  {% if latest %}
			<div class="latest-status">
			  <div class="latest-content">
				<p class="content">{{ latest.content | markdownify | truncate: 300 }}</p>
				<p class="timestamp" data-timestamp="{{ latest.date | date: '%s' }}">{{ latest.date | date: "%I:%M %p %B %-d, %Y %Z" }}</p>
				{% if latest.source %}
				  <p class="source">via {{ latest.source }} - <a href="{{ latest.url }}">🔗</a></p>
				{% endif %}
			  </div>
			</div>
		  {% endif %}
		</div>
		<div id="side" class="mobile-content">
			{% include twitter-bio.html %}
		</div>
		<div class="older-updates-container">
		  <!--<h3>...previously</h3>-->
		  <ul class="older-updates-list">
			{% assign sorted_older_updates = site.status_updates | sort: 'date' | reverse %}
			{% for status in sorted_older_updates %}
			  {% unless forloop.first %}
				<li class="older-status-item">
				  <p class="content">{{ status.content | markdownify | truncate: 300 }}<a href="{{ status.url }}" target="_blank" class="timestamp-link">{{ status.date | date: "%I:%M %p %B %-d, %Y %Z" }}</a></p>
				  {% if status.source %}
					<p class="source">via {{ status.source }}</p>
				  {% endif %}
				</li>
			  {% endunless %}
			{% endfor %}
		  </ul>
		  <script src="/js/lazy-load-posts.js"></script>
		  <script src="/js/dynamic-timestamp.js"></script>
		</div>
		{% include footer.html %}
	  </div>
	  <div id="side" class="desktop-content">
		{% include twitter-bio.html %}
	  </div>
	</div>
  </body>
</html>