<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="status-page">
    <div id="container">
      {% include nav.html %}
      <h1 id="header">{{ page.title }}</h1>
      <div id="content">
      <div class="profile-header">
        <img src="/assets/img/aaron_profile.jpeg" alt="Aaron Aiken's profile picture" class="profile-pic">
        <div class="account-info">
        <span class="account-name">aaronaiken</span>
        </div>
      </div>
      <div class="latest-update-container">
        <div class="latest-status">
          <div class="latest-content">
            <p class="content">{{ content }}</p>
            <p class="timestamp"><a href="{{ latest.url }}" target="_blank">{{ page.date | date: "%I:%M %p %B %-d, %Y %Z" }}</a></p>
            {% if page.source %}
              <p class="source">via {{ page.source }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="side" class="mobile-content">
        {% include twitter-bio.html %}
      </div>
      {% include footer.html %}
    </div>
    <div id="side" class="desktop-content">
    {% include twitter-bio.html %}
    </div>
  </body>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>